<div class="card">
    <div class="card-body">
        <div class="dropdown float-end">
            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item">Action</a>
            </div>
        </div>
        <h4 class="header-title">Total Sales</h4>

        <div id="average-sales" class="apex-charts mb-4 mt-4"
            data-colors="#3688fc,#6c757d,#42d29d,#fa6767"></div>
        

        <div class="chart-widget-list">
            <p>
                <i class="mdi mdi-square text-primary"></i> Direct
                <span class="float-end">$300.56</span>
            </p>
            <p>
                <i class="mdi mdi-square text-dark"></i> Affilliate
                <span class="float-end">$135.18</span>
            </p>
            <p>
                <i class="mdi mdi-square text-success"></i> Sponsored
                <span class="float-end">$48.96</span>
            </p>
            <p class="mb-0">
                <i class="mdi mdi-square text-danger"></i> E-mail
                <span class="float-end">$154.02</span>
            </p>
        </div>
    </div> <!-- end card-body-->
</div> <!-- end card-->